# Ambiente
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
env.bak/
venv.bak/
.envrc
.Python
.eggs/
*.egg-info/
*.egg
__pypackages__/

# C extensions
*.so

# Build
build/
dist/

# Node / Frontend
node_modules/
.vite/
*.local

# Cache de ferramentas
.cache
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDE / Editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Projeto
backend/data/
AGENTS.md
